# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- development

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Use DotNet Core 3.1'
  inputs:
    version: 3.x
    includePreviewVersions: false
    
- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
    KeyVaultName: 'gpitfutures-dev-kv'
    SecretsFilter: '*'

- task: replacetokens@3
  inputs:
    targetFiles: '**/*.json'
    encoding: 'auto'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    tokenPrefix: '#{'
    tokenSuffix: '}#'
    emptyValue: 

- bash: 
    "curl -i $(URL) --fail --connect-timeout 30"
  displayName: 'Check URL is reachable'

- script: docker-compose up --scale chrome=4 -d
  displayName: docker-compose

- bash: "export BROWSER=chrome && 
  export SERVERURL=$(SERVERURL) && 
  export DATABASENAME=$(DATABASENAME) && 
  export DBUSER=$(DBUSER) && 
  export DBPASSWORD=$(DBPASSWORD) && 
  export PBURL=$(URL) &&
  dotnet test src/ -v n -l:trx;LogFileName=/test/results.trx
  $?"
  displayName: 'Run acceptance tests'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/*.trx'
    failTaskOnFailedTests: true
    testRunner: VSTest
  condition: succeededOrFailed()