# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- development

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  BROWSER: chrome

steps:
- task: UseDotNet@2
  displayName: 'Use DotNet Core 3.1'
  inputs:
    version: 3.x
    includePreviewVersions: false

- task: AzureKeyVault@1
  inputs:
    azureSubscription: 'NHSAPP-BuyingCatalogue (Non-Prod)'
    KeyVaultName: 'gpitfutures-dev-kv'
    SecretsFilter: '*'
    
- task: replacetokens@3
  inputs:
    targetFiles: '**/*.json'
    encoding: 'auto'
    writeBOM: true
    actionOnMissing: 'warn'
    keepToken: false
    tokenPrefix: '#{'
    tokenSuffix: '}#'
    emptyValue: 

- bash: 
    "curl -i $(PBURL) --fail --connect-timeout 30"
  displayName: 'Check URL is reachable'

- task: Bash@3
  displayName: Selenium Grid Setup
  inputs:
    targetType: 'inline'
    script: |
      docker-compose stop &&
      docker-compose rm -f &&
      docker-compose up --scale chrome=4 --scale firefox=4  -d
    
- task: DotNetCoreCLI@2
  displayName: Run Acceptance Tests
  inputs:
    command: 'test'
    projects: 'src/NHSDPublicBrowseAcceptanceTestsSpecflow/*.csproj'
    arguments: '-v n'